* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: red;
  color: white;
  height: 70px;
  display: flex;
  
}


.drivers-card-container {
  width: 90%;
  margin: 20px;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-top-right-radius: 20px;
}

.card-image {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  img {
  width: 200px;
  
  }
}

.homepage-container {
  margin-top: 50px;
}

@media (min-width: 600px) {
  .drivers-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .drivers-card-container {
    width: 40%;
    margin: 20px;
    padding: 0;
  }

}

@media (min-width: 800px) {
  .drivers-card-container {
    width: 23%;
  }
}

@media (min-width: 1000px) {
  .drivers-card-container {
    width: 20%;
  }
}
