/*
=============== 
Variables
===============
*/
$f1-red: #db0000;
$f1-font-white: #ffffff;
$f1-inner-border: #7e7e7e;
$f1-font: 'Orbitron', sans-serif;
$f1-headings: #161616;

/*
=============== 
Global Settings
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
=============== 
Global Headings
===============
*/

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
}

.navbar-closed {
  background-color: $f1-red;
  height: 70px;
  width: 100%;
  display: flex;
  padding-left: 30px;
  padding-top: 20px;
  align-items: center;
  // animation: navbar-close 200ms ease-in-out;
  // note display none below, i could do media query on desktop sizes to show this sgain
  a {
    display: none;
    color: $f1-font-white;
    font-weight: bold;  
    text-decoration: none;
    padding: 5px;
  } 
}

.navbar-mobile {
  background-color: $f1-red;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 20px;
  font-family: 'Orbitron', sans-serif;
  border-bottom: 1px solid white;
  animation: navbar-open 300ms linear;
  
  a {
    color: $f1-font-white;
    font-size: 16px;
    font-weight: lighter;  
    text-decoration: none;
    padding: 25px 0px 30px 0;
    animation: fadein 300ms linear;
    // text-align: center;
  } 
}
.navbar-item {
  padding-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  height: 40px;
  border-bottom: 1px solid #ffffff98;
  border-right: 1px solid #ffffff98;
  border-bottom-right-radius: 15px;
}
.menu-btn {
  margin-bottom: 20px;
  font-size: 35px;
  color: #fff;
  border-radius: 10px;
}
.times-btn {
  margin-bottom: 20px;
  font-size: 35px;
  color: #fff;
}
.menu-btn:hover,
.times-btn:hover {
  cursor: pointer;
}
.times-btn {
  animation: timesin 300ms linear;
}


.navbar-desktop {
  background-color: $f1-red;
  height: 70px;
  display: flex;
  padding-left: 30px;
  padding-top: 20px;
  align-items: center;
  a {
    display: flex;
    color: $f1-font-white;
    font-weight: bold;  
    text-decoration: none;
    padding: 5px;
    border: none;
  } 
}

@keyframes navbar-open {
  0% {
    height: 70px;
  }

  100% {
    height: 90vh;
  }
}
@keyframes fadein {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes timesin {
  0% {
    font-size: 10px;
  }
  100% {
    font-size: 35px;
  }
}

.card {
  border: none;
}

.drivers-card-container {
  width: 90%;
  margin: 20px;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-top-right-radius: 10px;
  transition: transform 600ms;
  a {
  text-decoration: none;
  color: $f1-headings;
  }
  
}
.drivers-card-container:hover {
  border-top: 2px solid #00ffff;
  border-right: 2px solid #00ffff;
  cursor: pointer;
}

.card-topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // height: 65px;
  border-bottom: 1px solid $f1-inner-border;
  margin: 5px 10px 0 0 ;
  
}

.card-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 5px 0px;
  h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: $f1-headings;
    margin: 0;
  }
  h4 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 19px;
    background-color: black;
    color: white;
    padding: 1px 5px;
    border-radius: 5px;
  }
}
.grid-container {
  padding-top: 10px;
  padding-right: 10px;
}

.image-background {
  background: url('https://www.freeiconspng.com/uploads/large-grid-png-25.png');
}

.cards-image {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  
  img {
  width: 200px;  
  }
}
.homepage-container {
  margin-top: 50px;
}

.drivers-title {
  margin-left: 20px;
  h1 {
  font-size: 25px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: $f1-headings;
  }
}
.card-namebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 58px;
  border-bottom: 1px solid $f1-inner-border;
  margin-right: 10px;
  margin-top: 10px;
  
  .name {
    border-left: 6px solid #39c7c7;
    margin-bottom: 14px;
    
  }
  h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 21px;
    font-weight: bolder;
    padding-left: 8px;
    letter-spacing: 0.02em;
    color: $f1-headings;
  }
  h4 {
    font-family: 'Orbitron', sans-serif;
    font-size: 17px;
    font-weight: normal;
    padding-left: 8px;
    letter-spacing: 0.02em;
    color: $f1-headings;
    margin: 0;
  }
  .flag-container {
    margin-top:  6px;
  }
  .flag {
    width: 50px;
    margin-right: 5px;
    border-radius: 5px;
  }
}

.card-constructor {
  margin: 10px 0 0;
  h4 {
    color: #7e7e7e;
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 0.05em;
  }
}

.detail-container {
  display: flex;
}
.detail-image {

  img {
    width: 100%;

  }
}
.driver-flag {
  display: flex;
  height: 30px;
  margin: 15px 0 15px 30px;

  img {
    width: 40px;
    border-radius: 5px;
    margin-left: 10px;
  }
}
.detail-name {
  margin-left: 30px;
  h3 {
    font-weight: bold;
    font-family: $f1-headings;
  }
}
.detail-container {
  padding: 20px 30px;
}
.detail-title {
  h4 {
    font-size: 16px;
    font-family: $f1-font;
    font-weight: bolder;
  }
  margin-right: 25px;
}
.detail-info {
  h4 {
    font-size: 16px;
    font-family: $f1-font;
  }
}

.teams-title {
  margin-left: 14px;
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
  }
}

.teams-card-container {
  display: flex;
  justify-content: center;
}

.teams-card {
  width: 95%;
  margin-bottom: 20px;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-top-right-radius: 10px;
  transition: transform 600ms;
  a {
  text-decoration: none;
  color: $f1-headings;
  }
  
}

.teams-card:hover {
  border-top: 2px solid #00ffff;
  border-right: 2px solid #00ffff;
  cursor: pointer;
}

.teams-card-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // height: 65px;
    border-bottom: 1px solid $f1-inner-border;
    margin: 5px 10px 0 0 ;
  
  .team-logo {
    width: 50px;
  }

}
.teams-grid-container {
  padding-top: 10px;
  padding-right: 10px;

}
.teams-card-image {
  padding: 0;
  display: flex;
  justify-content: center;
  img {
    width: 84%;
    padding: 2%;
  }
}
.teams-drivers-container {
  width: 100%;
  display: flex;
 
}
.team-drivers {
  margin: 10px 10px 10px 0;
  width: 50%;
  border-bottom: 1px solid #2c2c2c98;
  border-right: 1px solid #42424298;
  border-bottom-right-radius: 15px;
  
  h3 {
    font-family: $f1-font;
    font-size: 19px;
    font-weight: bolder;
    margin: 0;
  }
  h4 {
    font-family: $f1-font;
    font-size: 17px;
    font-weight: normal;
    margin: 0;
  }
}



@media (min-width: 600px) {

  .drivers-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .drivers-card-container {
    width: 80%;
    margin: 20px;
    padding: 0;
  }
  

}

@media (min-width: 768px) {
  .drivers-card-container {
    width: 43%;
  }
  .detail-row {
    display: flex;
  }
  .detail-image-name-container {
    width: 50%;
  }
  .detail-container {
    width: 50%;
  }
 
  .detail-image {
    border: 20px solid white;
  
    img {
      width: 350px;
      border-radius: 10px;
    }
  }
  // .detail-row {
  //   background-color: rgb(37, 37, 37);
  //   color: white;
  // }

  .detail-title,
  .detail-info {
    padding-top: 70px;
    h4 {
      font-size: 16px
    }
  }
  .detail-title {
    margin-right: 0px;
  }
}

@media (min-width: 1024px) {
  .drivers-card-container {
    width: 29%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }

  .navbar-desktop {
    justify-content: center;
    a {
      display: flex;  
      font-family: $f1-font;
      padding: 0 4px;
    }
  }
  .navbar-item {
    border: none;
    
  }
  .menu-btn,
  .times-btn {
    display: none;
  }
}

@media (min-width: 1224px) {
  .drivers-card-container {
    width: 23%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }
}
