/*
=============== 
Variables
===============
*/
$f1-red: #db0000;
$f1-font-white: #ffffff;
$f1-font-grey: #7e7e7e;
$f1-inner-border: #7e7e7e;
$f1-font: 'Titillium Web', sans-serif;
$f1-headings: #161616;

/*
=============== 
Global Settings
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
=============== 
Global Headings
===============
*/

h1,
h2,
h3,
h4 {
  font-family: $f1-font;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

.homepage-container {
  margin: 0;
  padding: 0;
}


.topnav {
  height: 50px;
  background-color: rgb(235, 235, 235);
}

.logo-container {
  background-image: url('https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg');
  width: 115px;
  height: 29px;
  margin-right: 0;
  cursor: pointer;
}

.navbar {
  background: #db0000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  // max-width: 1500px;
}

.nav-menu {
  display: flex;
  list-style: none;
  height: 100%;
}

.nav-item {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
}

.nav-links {
  padding: 0 20px;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 500ms;
  height: 80px;
}

.nav-links:hover {
  text-decoration: none;
  background-color: #1a1a1a;
  color: white;
  transition: 500ms;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }
  .topnav {
    display: none;
  }

  .navbar-container {
    height: 80px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background:  #db0000;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

.card {
  border: none;
}

.drivers-card-container {
  background-color: #faf9f4;
  width: 90%;
  margin: 20px;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-top-right-radius: 10px;
  transition: transform 600ms;
  a {
  text-decoration: none;
  color: $f1-headings;
  }
  
}
.drivers-card-container:hover {
  border-top: 2px solid #00ffff;
  border-right: 2px solid #00ffff;
  cursor: pointer;
}

.card-topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // height: 65px;
  border-bottom: 1px solid $f1-inner-border;
  margin: 5px 10px 0 0 ;
  
}
// .card-position {
  
// }
.index {
  font-family: $f1-headings;
  font-size: 38px;
  background-color: #222222;
  color: white;
  padding: 1px 7px;
  border-radius: 10px;
  }
.card-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 5px 0px;
  h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: $f1-headings;
    margin: 0;
  }
  h4 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 19px;
    background-color: black;
    color: white;
    padding: 1px 5px;
    border-radius: 5px;
  }
}
.grid-container {
  padding-top: 10px;
  padding-right: 10px;
}

.image-background {
  background: url('https://www.freeiconspng.com/uploads/large-grid-png-25.png');
}

.cards-image {
  // padding: 5px 10px 0 10px;
  display: flex;
  justify-content: flex-end;
  
  img {
  width: 70%;  
  // padding: 5px 5px 0 5px;
  }
}
.homepage-container {
  background-color: #faf9f4;
  // padding-top: 50px;
}

.drivers-title {
  margin-left: 20px;
  h1 {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  }
}
.card-namebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 58px;
  border-bottom: 1px solid $f1-inner-border;
  margin-right: 10px;
  margin-top: 10px;
  
  // .name {
  //   border-left: 6px solid #39c7c7;
  //   margin-bottom: 14px;
    
  // }
  h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 21px;
    font-weight: bolder;
    padding-left: 8px;
    // letter-spacing: 0.001em;
    color: $f1-headings;
    margin: 0;
  }
  h4 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding-left: 8px;
    letter-spacing: 0.02em;
    color: $f1-headings;
    margin: 0;
  }
  .flag-container {
    margin-top:  6px;
  }
  .flag {
    width: 50px;
    margin-right: 5px;
    border-radius: 5px;
  }
}

.card-constructor {
  margin: 10px 0 0;
  h4 {
    color: #7e7e7e;
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 0.05em;
  }
}

.detail-container {
  display: flex;
  padding: 20px 30px;
}
.detail-image { 
  img {
    width: 100%;
  }
}
.detail-image-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.driver-flag {
  display: flex;
  height: 30px;
  margin: 15px 0 15px 5px;

  img {
    width: 40px;
    border-radius: 5px;
    margin-left: 10px;
  }
}
.detail-name {
  margin-left: 20px;
  h3 {
    font-weight: bold;
    font-family: $f1-headings;
  }
}

.detail-title {
  h4 {
    font-size: 16px;
    font-weight: bolder;
  }
  margin-right: 15%;
}
.detail-info {
  h4 {
    font-size: 16px;
  }
}

.teams-title {
  margin-left: 14px;
  margin-bottom: 30px;
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
}

.teams-card-container {
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: $f1-headings;
    }
}

.teams-card {
  margin: 10px;
  max-width: 600px;
  margin-bottom: 20px;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-top-right-radius: 10px;
  transition: 200ms;
  a {
  text-decoration: none;
  color: $f1-headings;
  }
  
}

.team-color {
  display: flex;
}
.team-name {
  h3 {
    font-family: $f1-font;
    font-weight:bolder;
    font-size: 26px;
  }
}

.teams-card:hover {
  border-top: 2px solid #00ffff;
  border-right: 2px solid #00ffff;
  cursor: pointer;
  transition: 200ms;
  
}

.teams-card-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // height: 65px;
    border-bottom: 1px solid $f1-inner-border;
    margin: 5px 10px 0 0 ;
    align-items: center;
    padding: 8px 0;
    h4 {
      font-size: 19px;
    } 
}
.team-logo-container {
  figure {
    margin: 0;
  }
}

.team-logo {
  width: 50px;
}

.teams-grid-container {
  padding-top: 10px;
  padding-right: 10px;

}
.teams-card-image {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    height: 1%;
    
  }
}
.teams-drivers-container {
  width: 100%;
  display: flex;
 
}
.team-drivers {
  margin: 10px 10px 10px 0;
  width: 50%;
  border-bottom: 1px solid #2c2c2c98;
  border-right: 1px solid #42424298;
  border-bottom-right-radius: 15px;
  
  h3 {

    font-size: 19px;
    font-weight: bolder;
    margin: 0;
  }
  h4 {

    font-size: 17px;
    font-weight: normal;
    margin: 0;
  }
}

// *** Start of TeamsShow Styling ***

.detail-teams-logo-container {
  background-color: #fcfaf1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  img {
    width: 60px;
  }
  .team-name {
    margin-right: 20px;
  }
}

.team-profile {
  padding: 10px 10px 10px 20px;
  font-size: 13px;
  line-height: 24px;
}

.team-detail-container {
  border-top: 4px solid #009ba0;
  border-bottom: 4px solid #009ba0;
  display: flex;
  padding: 20px 10px 20px 24px;
  background-color: #2e2e2e;
  color: white;
  justify-content: center;
  .detail-title {
    h4 {
      font-size: 14px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bolder;
    }
  }
  .detail-info {
    h4 {
      font-size: 14px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: lighter;
    }
  }
}

// *** Homepage

button {
  background-color: #e7e7e7;
  width: 33.33%;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #494949;
  border-left: none;
  border-top: none;
  border-bottom: 4px solid transparent;
  border-right: 1px solid #a5a5a57a;
  outline:none;
  // transition: 200ms;
}
button:focus {
  border-right: 1px solid #a5a5a57a;
  border-bottom: 4px solid $f1-red;
  outline: none;
}
button:hover {
  cursor: pointer;
  color: $f1-red;
  border-bottom: 4px solid $f1-red;
  transition: 500ms;
}
.active {
  color: $f1-red;
  border-bottom: 4px solid $f1-red;
  transition: 500ms;
}
.home-container {
  h1 {
    margin-top: 30px;
    text-align: center;
    font-family: $f1-font;
    font-size: 26px;
  }
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  background-color: #e4e4e4;
  height: 50px;
}

.standings-list-items {
  display: flex;
  justify-content: space-between;
}
.drivers-standings-heading {
  padding: 20px 10px 40px 10px;
  background-color: #33333f;
  color: white;
  margin-bottom: 30px;
}
.standings-container {
  background-color: #e9e9e9;
}



.drivers-name {
  h4,
  h5 {
    color: black;
    font-family: 'Titillium Web', sans-serif;
  }
}
.standings {
  transition: 200ms ease-in;
}
.standings:hover {
  h4,
  h5 {
    color: white;
  }
  // background-color: #5a5add;
  background-color: #2b2b2b;
  transition: 200ms ease-in;
}


.home-container {
  background-color: rgb(231, 231, 231);
}
.standings { 
  cursor: pointer;
  border-bottom: 1px solid #acacac77;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 6px;
  padding-left: 30px;
  margin: 0 25px;
  background-color: white;
  a {
    text-decoration: none;
  }
}
.drivers-name {
  display: flex;
}

.firstname {
  margin-right: 5px;
  font-size: 18px;
}
.surname {
  font-size: 18px;
  margin-right: 12px;
  font-weight: 700;
}
.team-name {
  margin-right: 8px;
  font-size: 15px;
  margin-top: 3px;
  h4 {
    color: $f1-font-grey;
  }
}
.drivers-standings-points {
  display: flex;
  margin-right: 30px;
  h6 {
    font-size: 15px;
    font-weight: 700;
    color: rgb(37, 37, 37);
  }
}
.standings-points {
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
  padding: 2px 6px;
}
.home-icons {
  .team-color-icon-mercedes {
    background-color: #28ecff;
    width: 5px;
    margin-right: 10px;
    height: 20px;
  }
  .team-color-icon-ferrari {
    background-color: #f10a1d;
    width: 5px;
    margin-right: 10px;
    height: 20px;
  }
  .team-color-icon-haas {
    background-color: #515151;
    width: 5px;
    margin-right: 10px;
    height: 20px;
  }
  .team-color-icon-alfa-romeo {
    background-color: #960000;
    width: 5px;
    margin-right: 10px;
    height: 20px;
  }
  .team-color-icon-alpha-tauri {
    background-color: #001347;
    width: 5px;
    margin-right: 10px;
    height: 20px;
  }
  .team-color-icon-alpine {
    background-color: #007eff;
    width: 5px;
    margin-right: 10px;
    height: 20px;
  }
  .team-color-icon-aston-martin {
    background-color: #00703a;
    width: 5px;
    margin-right: 10px;
    height: 20px;
  }
  .team-color-icon-mclaren {
    background-color: #fd8000;
    width: 5px;
    margin-right: 10px;
    height: 20px;
  }
  .team-color-icon-red-bull {
    background-color: #1e41ff;
    width: 5px;
    margin-right: 10px;
    height: 20px;
  }
  .team-color-icon-williams {
    background-color: #00b5ff;
    width: 5px;
    margin-right: 10px;
    height: 20px;
  }
}

.teams-icons {
  .team-color-icon-mercedes {
    background-color: #28ecff;
    width: 5px;
    margin-right: 10px;
    height: 40px;
  }
  .team-color-icon-ferrari {
    background-color: #f10a1d;
    width: 5px;
    margin-right: 10px;
    height: 40px;
  }
  .team-color-icon-haas {
    background-color: #515151;
    width: 5px;
    margin-right: 10px;
    height: 40px;
  }
  .team-color-icon-alfa-romeo {
    background-color: #960000;
    width: 5px;
    margin-right: 10px;
    height: 40px;
  }
  .team-color-icon-alpha-tauri {
    background-color: #001347;
    width: 5px;
    margin-right: 10px;
    height: 40px;
  }
  .team-color-icon-alpine {
    background-color: #007eff;
    width: 5px;
    margin-right: 10px;
    height: 40px;
  }
  .team-color-icon-aston-martin {
    background-color: #00703a;
    width: 5px;
    margin-right: 10px;
    height: 40px;
  }
  .team-color-icon-mclaren {
    background-color: #fd8000;
    width: 5px;
    margin-right: 10px;
    height: 40px;
  }
  .team-color-icon-red-bull {
    background-color: #1e41ff;
    width: 5px;
    margin-right: 10px;
    height: 40px;
  }
  .team-color-icon-williams {
    background-color: #00b5ff;
    width: 5px;
    margin-right: 10px;
    height: 40px;
  }
}

@media (min-width: 600px) {

  .drivers-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .drivers-card-container {
    width: 80%;
    margin: 20px;
    padding: 0;
  }
  .standings-container {
    padding: 0 8%;
  }

}

@media (min-width: 768px) {
  .drivers-card-container {
    width: 43%;
  }
  .detail-row {
    display: flex;
  }
  .detail-image-name-container {
    width: 50%;
  }
  .detail-container {
    width: 50%;
  }

  .detail-image {
    border: 20px solid white;
  
    img {
      width: 350px;
      border-radius: 10px;
    }
  }

  .detail-title,
  .detail-info {
    padding-top: 70px;
    h4 {
      font-size: 16px
    }
  }
  .detail-title {
    margin-right: 0px;
  }
  .teams-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-ar;
  }
  .teams-card-container {
    width: 50%;
    margin: 0px;
    display: flex;
  }
  .teams-card {
    margin: 10px;
    max-width: 550px;
  }
  .teams-row {
    padding: 0 20px;
  }
  .standings-container {
    padding: 0 10%;
  }
}

@media screen and (min-width: 960px) {
  .logo-container {
    background-image: url('https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg');
    width: 115px;
    height: 29px;
    margin-right: 20px;
    cursor: pointer;
  }
  .navbar-container {
    margin-right: 50px;
  }
}

@media (min-width: 1024px) {
  .drivers-card-container {
    width: 29%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }
  // .navbar-desktop {
  //   justify-content: center;
  //   a {
  //     display: flex;  
  //     padding: 0 4px;
  //   }
  // }
  // .navbar-item {
  //   border: none;
    
  // }
  .menu-btn,
  .times-btn {
    display: none;
  }
  .teams-row {
    padding: 0 30px;
  }
  .teams-card {
    margin: 10px;
    max-width: 650px;
  }
  // .standings-container {
  //   max-width: 1200px;
  // }
}

@media (min-width: 1224px) {
  .drivers-card-container {
    width: 23%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }
  .teams-row {
    padding: 0 50px;
  }
  .teams-card {
    margin: 10px;
    max-width: 750px;
  }
}
